
		body { 
	background-color: #000000; 
		}
		h1 {
	font-family: "Courier New";
    color: red;
    text-align: center;
	font-size: 40px
		}
		p {
    font-family: "Courier New";
	color: red;
    text-align: center;
	margin-left: 35em;
	margin-right: 35em;
		}
		img {
	display: block;
	margin: auto;
		}
		
		h2 {
			font-family: "Courier New";
			color: white;
			text-align: center;
		}
